<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificando Colaborador...</title>
</head>
<body>
    <div>
        <h1>Modificando Colaborador</h1>
        <form method="POST" id="formulario" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Modificar" id="enviar">
        </form> 
    </div>
</body>
</html>